.form-container{
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	border-width: 1px;
	border-color: #ddd;
	border-style: solid;
	float: left;
}

.table-container {
    margin: 20px;
	padding: 0px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
	float: left;
    min-height: 750px;
    min-width: 700px;
}

#SearchForm {
    margin: 15px;
}

table {
    font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	max-width: 100%;
  	margin-bottom: 20px;
  	border-collapse: collapse;
  	font-size: 14px;
}

table > thead > tr > th {
  	vertical-align: bottom;
  	background-color: #f8f8f8;
    min-width: 20px; 
}

table > thead > tr {
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
}
table > tbody > tr {
	border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  color: #979797;
}

td {
  padding-top: 5px;
  padding-left: 6px;
  padding-bottom: 5px;
}


input {
    font-family: Helvetica,Arial,sans-serif;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.20);
	width: 300px;
	padding: 7px 7px;
	font-size: 14px;
}

input:focus {
	border: 1px solid #469FE2;
	outline: none;
}

.button {
	color: #FFFFFF;
	font-family: "HelveticaNeueW01-75Bold", Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding: 3px 10px 5px 10px;
	border: 1px;
	border-style: solid;
	border-radius: 5px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
}

.deleteButton {
	background:none;
    border:none;
    color: #df0000;
    font-weight: bold;
    font-family: "HelveticaNeueW01-75Bold",Arial,sans-serif;
    text-align: right;
}

label {
	font-family: "HelveticaNeueW01-75Bold", Helvetica,Arial,sans-serif;
	margin: 15px 0 5px 0;
	display: block;
}

.btn-green {
	border-color: #46692f;
	background-color: #5c903a;
}

.btn-green:hover:enabled {
    background-image: linear-gradient(to bottom,  #85b85c 10%, #5c903a 90%);
}

.btn-red {
	border-color: #b70000;
	background-color: #dd0000;
}

.btn-red:hover:enabled {
    background-image: linear-gradient(to bottom,  #fa7878 10%, #f40202 90%); 
}

.button:disabled {
    border-color: #d2d2d2;
    background-color: #eeeeee;
    color: #b2b2b2;
    text-shadow: none;
    box-shadow: inset 0 0 5px 3px rgba(0,0,0,.07);
}

.form-footer {
	padding-top: 25px;
}

.autocomplete-suggestions { 
	font-family: "HelveticaNeueW01-75Bold", Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold; 
	color: #274279;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25); 
	background: #FFF;
	border-radius: 2px;
	overflow: auto; }

.autocomplete-suggestion {
	border-top: 2px solid rgba(0,0,0,.17); 
	height: 25px;
	padding: 9px 0 0 5px; 
	white-space: nowrap; 
	overflow: hidden; }
.autocomplete-suggestion:first-child {
	border-top: none;
}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions {font-weight: normal;}
.autocomplete-suggestions strong {font-weight: normal;}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


@font-face{
font-family:"HelveticaNeueW01-75Bold";
src:url("HelNeue.woff") format("woff");
}

