@section scripts{
	<script src="~/Scripts/jquery.autocomplete.js"></script>
	<script src="~/Scripts/index.js"></script>
}


	<div class="form-container">
		<form id ="AddressForm">
			<label>F&ouml;rnamn</label>
			<input name ="GivenName" class="form-control" required>
			<label>Efternamn</label>
			<input name ="Surname" required>
			<label>Gatuaddress</label>
			<input name = "Address" required>
			<label>Postnr</label>
			<input name ="PostNr" required>
			<label>Stad</label>
			<input name="City" required>
			<label>Land</label>
			<input name ="Country" id="Country" autocomplete="off" required>
			<label>Telefon</label>
			<input name="Telefon" required>
			<label>E-post</label>
			<input name="E-post" required>		
			
			<div class="form-footer">
				<button id="ClearButton" class="button btn-red">Rensa</button>
				<button id="Submit" class="button btn-green" disabled="disabled">Skicka</button>
			</div>

		</form>
	</div>

<div class="table-container">
    <form id="SearchForm">
        <input name="Search" id="SearchData">
        <button id="SearchBtn" class="button btn-red">S&ouml;k</button>
    </form>

    <table id="AddressTable">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Gata</th>
            <th>PostNummer</th>
            <th>Stad</th>
            <th>Land</th>
            <th>Telefon</th>
            <th>E-post</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>

</div>

